<div class="flex-container spacing-around-vertical">
    <div class="left col-12">
        <anu-card class="form-body col-12 spacing-lg relative">
            <anu-card-body>
                <ng-container *ngIf="found">
                    <anu-article-editor [categories]="categories" [value]="article" (saveClicked)="saveArticle($event)">
                    </anu-article-editor>
                </ng-container>
                <anu-error *ngIf="error" [code]="error.code" [message]="error.message"></anu-error>
                <anu-spinner [show]="loading"></anu-spinner>
            </anu-card-body>
        </anu-card>
    </div>
</div>
<!-- Confirmation Modal - Duplicating Article -->
<anu-modal class="" [opened]="showUpdateConfirmationModal">
    <div class="col-12">
        <h3 class="warning">Warning</h3>
        <p>You are about to duplicate an existing Article</p>
        <p><strong>Existing Article Id: </strong><span class="error">{{articleId}}</span></p>
        <p><strong>Replacing with Article Id: </strong><span class="success">{{article?.id}}</span></p>
        <p>This action will not delete the existing Article with id - <span class="error">{{articleId}}</span>, but will
            create a new Article with
            id -<span class="success">{{article?.id}}</span>.</p>

        <h3 class="warning">Do you want to add a duplicate of Article - <span class="error">{{articleId}}</span>?</h3>
        <div class="row spacing center">
            <a class="btn" href="#" (click)="onDuplicateArticleAction($event, true)">Yes</a>
            <a class="btn" href="#" (click)="onDuplicateArticleAction($event, false)">No</a>
        </div>
    </div>
</anu-modal>
