:host {
    .dates {
        justify-content: space-between;
    }

    router-outlet {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .results {
        position: relative;
        min-height: 5rem;
    }
}
