<anu-card class="overview spacing-around-vertical spacing-vertical">
    <anu-card-title>
        <h2> My Categories</h2>
    </anu-card-title>
    <anu-card-body>
        <p>
            Manage all of your categories. Add new category or update existing one.
        </p>
    </anu-card-body>
    <anu-card-footer class="row spacing-around-vertical right">
        <div *ngIf="route.firstChild"  class="row stretch">
            <a [routerLink]="['.']">Back to Categories</a>
            <a [routerLink]="['add']">Add new Category</a>
        </div>
        <a *ngIf="!route.firstChild" [routerLink]="['add']">Add new Category</a>
    </anu-card-footer>
</anu-card>


<ng-container *ngIf="!route.firstChild">
    <anu-search-box [items]="categories" [keys]="searchKeys" (changed)="onSearch($event)"></anu-search-box>
    <label>Results: {{filteredCategories.length}}/{{categories.length}}</label>
    <div class="row results">
        <div *ngFor="let cat of filteredCategories" class="col-sm-12 col-md-6 col-lg-6">
            <anu-category [updateHref]="cat?.id || ''" [value]="cat"></anu-category>
        </div>
        <anu-spinner [show]="loading" ></anu-spinner>
    </div>
</ng-container>
<router-outlet></router-outlet>
