<div class="app-container container">
  <!-- App Header -->
  <div class="container center header-container">
    <header class="container left">
      <anu-menu [items]="mainRoutes" [heading]="appConfig.title">
        <anu-login-status [loginPageUrl]="appConfig.loginUrl || ''" [profilePageUrl]="appConfig.profileUrl || ''" [loggedOutPageUrl]="appConfig.logoutUrl || ''"></anu-login-status>
      </anu-menu>
    </header>
  </div>

  <!-- App Content -->
  <div class="container center content-container">
    <div class="content container left spacing" role="main">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- App Footer -->
  <div class="container center footer-container">
    <footer class="container left">
      <anu-footer-nav [copyrightText]="appConfig.copyrightText" [items]="mainRoutes"></anu-footer-nav>
    </footer>
  </div>
</div>
