@import 'mixins';

// Change this variable's value to have full width application or fixed width.
$site-width: 1080px;

:host {
    .content-container {
        & > * {
            max-width: #{$site-width};
        }

    }

    .header-container {
        background-color: var(--anu-primary-normal);

        & > * {
            max-width: #{$site-width};
        }

        header {
            padding: 0 1rem;

            @include large {
                padding: 0 1rem;
            }

            @include medium {
                padding: 0;
            }

            @include small {
                padding: 0;
            }
        }
    }

    .footer-container {
        background-color: var(--anu-accent-dark);
        & > * {
            max-width: #{$site-width};
        }

        footer {
            padding: 0 1rem;

            @include large {
                padding: 0 1rem;
            }

            @include medium {
                padding: 0;
            }

            @include small {
                padding: 0;
            }
        }
    }
}
