<div class="app-container container">
  <!-- App Header -->
  <div class="flex-container primary-normal-bg center">
    <header class="container left">
      <anu-menu [items]="mainMenuItems" [heading]="appConfig.metaInfo.title || ''" (openStatusChanged)="mainMenuOpenStatusChanged($event)"
        [opened]="isMainNavOpen" [headingHref]="['./']">
        <anu-login-status (profileClicked)="loginStatusClicked()" (signOutClicked)="loginStatusClicked()"
          (signInClicked)="loginStatusClicked()" [loginPageUrl]="appConfig.loginUrl || ''"
          [profilePageUrl]="appConfig.profileUrl || ''" [loggedOutPageUrl]="appConfig.logoutUrl || ''">
        </anu-login-status>
      </anu-menu>
    </header>
  </div>

  <!-- App Content -->
  <div class="container center left" role="main">
    <router-outlet></router-outlet>
  </div>

  <!-- App Footer -->
  <div class="flex-container primary-lightest-bg center">
    <footer class="container spacing-vertical">
      <anu-footer-nav class="primary-lightest-bg" [copyrightText]="appConfig.copyrightText" [items]="footerNavItems">
      </anu-footer-nav>
      <!-- Terms and condition links -->
      <small class="flex-container">
        <a [routerLink]="tNcUrl">Terms and conditions</a>
        <a [routerLink]="privacyPolicyUrl">Privacy policy</a>
      </small>
    </footer>
  </div>
</div>
