@import 'mixins';

// Change this variable's value to have full width application or fixed width.
$site-width: 1080px;

:host {
    .content-container {
        & > * {
            max-width: #{$site-width};
        }

    }

    .header-container {
        background-color: var(--anu-primary-normal);

        & > * {
            max-width: #{$site-width};
        }
    }

    .footer-container {
        background-color: var(--anu-accent-dark);
        & > * {
            max-width: #{$site-width};
        }
    }
}
