<div *ngIf="!route.firstChild" class="flex-container secondary-lighter-bg spacing spacing-around-vertical">
    <anu-category *ngIf="!error && category" [value]="category" [showMetaInfo]="false">
    </anu-category>
    <anu-error *ngIf="error" [code]="error.code" [message]="error.message"></anu-error>
</div>

<div class="flex-container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-9">
            <ng-container *ngIf="!route.firstChild">
                <anu-article *ngFor="let article of categoryArticles" [titleHref]="[article?.id || '']"
                    [readMoreHref]="[article?.id || '']" [value]="article" [showMetaInfo]="false"></anu-article>
            </ng-container>
            <!-- Article view child routes -->
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <ng-container *ngFor="let catGroup of allCategoriesGroups">
                <anu-category-articles-list href="../" class="spacing" [category]="catGroup?.category || null"
                    [articles]="catGroup?.articles || []" [headerClassNames]="['shadow', 'primary-lighter-bg', 'spacing']"
                    [listClassNames]="[]"></anu-category-articles-list>
            </ng-container>
        </div>
    </div>
</div>

<div *ngIf="route.firstChild" class="flex-container spacing secondary-normal-bg">
    <h2>Read more about- <a [routerLink]="['../', category?.id]">{{category?.metaInfo?.title}}</a></h2>
</div>

<div class="flex-container spacing spacing-around">

</div>
