<anu-card class="shadow spacing form-body">
    <anu-card-title>
        <h2>Category Form</h2>
    </anu-card-title>
    <anu-card-body>
        <ng-container *ngIf="found">
            <anu-category-editor [value]="category" (saveClicked)="saveCategory($event)"></anu-category-editor>
        </ng-container>
        <anu-error *ngIf="error" [code]="error.code" [message]="error.message"></anu-error>
        <anu-spinner [show]="loading"></anu-spinner>
    </anu-card-body>
</anu-card>

<!-- Confirmation Modal - Duplicating Category -->
<anu-modal class="" [opened]="showUpdateConfirmationModal">
    <div class="col-12">
        <h3 class="warning">Warning</h3>
        <p>You are about to duplicate an existing Category</p>
        <p><strong>Existing Category Id: </strong><span class="error">{{categoryId}}</span></p>
        <p><strong>Replacing with Category Id: </strong><span class="success">{{category?.id}}</span></p>
        <p>This action will not delete the existing Category with id - <span class="error">{{categoryId}}</span>, but will create a new Category with
            id -<span class="success">{{category?.id}}</span>.</p>

        <h3 class="warning">Do you want to add a duplicate of Category - <span class="error">{{categoryId}}</span>?</h3>
        <div class="row spacing center">
            <a class="btn" href="#" (click)="onDuplicateCategoryAction($event, true)">Yes</a>
            <a class="btn" href="#" (click)="onDuplicateCategoryAction($event, false)">No</a>
        </div>
    </div>
</anu-modal>
