:host {
    display: flex;
    flex-direction: column;
    width: 100%;

    .featured-icon {
        display: flex;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        overflow: hidden;
    }
}
