:host {
    display: flex;
    flex-direction: column;
    width: 100%;

    .featured-icon {
        display: flex;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        overflow: hidden;
    }

    .featured-card-body h2 a {
        color: var(--anu-accent-deep-light);
    }
}
